{
  "parser": "babel-eslint",
  "extends": ["airbnb", "standard", "standard-react"],
  "env": {
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "DEVMODE": false
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
