{
  "parser": "babel-eslint",
  "extends": ["airbnb", "standard", "standard-react"],
  "plugins": ["babel", "react", "promise", "flowtype"],
  "env": {
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": [false, { "extensions": [".js", ".jsx"] }]
  }
}
